body {
  font: 20px Arial ,sans-serif;
}
h3{
  margin-bottom: 30px;
}
.navbar {
  background-color: #805953

}
.quem-somos {
  background-color:   #BF857C;
  color: #402C29;
}
.margin {
  padding-bottom: 50px;
  padding-top: 10px;
}
.parceiros {
  background-color: #E6A096;
}
.serviços {
  background-color: #FFB2A6;
}
.img-serv{
 border-radius: 5px;
}
.bg-footer {
  background-color: #805953;
  color: white;
  
}